@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-brand: 28 45 107; /* #1c2d6b */
  --color-accent: 52 179 196; /* #34b3c4 */
}

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-white text-slate-800 antialiased;
}

.container-page {
  @apply max-w-7xl mx-auto px-4 sm:px-6 lg:px-8;
}
